# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/
.eslintcache

# Project specific
backend/.env
frontend/rag/node_modules/
frontend/rag/dist/

# OS
.DS_Store
Thumbs.db
